<div class="div-card p-3">
    <h6 class="text-center fw-bold">New User?</h6>
    <form (ngSubmit)="submit()">
        <div class="row">
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" required="true" type="text" name="userName"
                        [(ngModel)]="data.userName">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" required="true" type="password" name="userPassword"
                        [(ngModel)]="data.userPassword">
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="User First Name" required="true" type="text" name="userFirstName"
                [(ngModel)]="data.userFirstName">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="User Last Name" required="true" type="text" name="userLastName"
                [(ngModel)]="data.userLastName">
        </mat-form-field>



        <div class="text-center">
            <button mat-raised-button color="primary" class="me-2" type="submit">REGISTER</button>
            <button mat-raised-button color="warn" type="reset">RESET</button>
        </div>
    </form>

</div>